<!DOCTYPE html>
<html>
<head>
    <!-- import #zmmtg-root css -->
    <link href="https://source.zoom.us/1.7.5/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="https://source.zoom.us/1.7.5/css/react-select.css" rel="stylesheet" type="text/css"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <style type="text/css">
        #meetingResponse {
            height: 300px;
            overscroll-behavior-y: auto;
        }
    </style>
</head>
<body>
<nav class="navbar-fixed-top" id="nav-tool">

    <div class="container">
        <div class="col-md-4">
            <h1>Zoom API Meetings</h1>
            <div class="row alert alert-success d-none" id="autorizationBlock">Authorized with Zoom</div>
            <div class="row">
                <!-- TODO replace this with install url of Zoom Oauth application-->
                <a class="btn btn-primary"
                   href="https://zoom.us/oauth/authorize?client_id=PNlAN0rQdnFwZXamUcsA&response_type=code&redirect_uri=http%3A%2F%2F127.0.0.1%3A3000%2Fauthorize"
                   id="authorizeBtn">
                    Authorize with Zoom
                </a>
            </div>
            <div class="row">
                <button class="btn btn-primary d-none form-group" id="createMeeting">Create Meeting</button>

            </div>

            <div class="row d-none" id="createdMeetingCase">
                <!--    TODO in AWW app -  Show for host/admin       -->
                <button class="col-md-12 btn btn-primary joinstartmeeting form-group" data-role="1" id="start_meeting">
                    Start
                </button>
                <!--    TODO in AWW app -  Show for users       -->
                <button class=" col-md-12 btn btn-primary joinstartmeeting form-group" data-role="0" id="join_meeting">
                    Join
                </button>
                <button class=" col-md-12 btn btn-primary form-group" data-role="1" id="start_meeting_out">Start outside
                    of Aww
                </button>
            </div>
        </div>
        <div class="col-md-5">
            <div class="linktoaww d-none" style="
            background-color: white;
            padding: 28px;
            border-radius: 17px;">
                <!--        TODO Replace this with actual AWW board link        -->
                <a href="https://awwapp.com/b/ucpxtw9kigxfg/" target="_blank">GO TO AWW Drawing</a></div>

            <pre id="meetingResponse"></pre>
            <br>

        </div>


    </div>
</nav>


<!-- import ZoomMtg dependencies -->
<script src="https://source.zoom.us/1.7.6/lib/vendor/react.min.js"></script>
<script src="https://source.zoom.us/1.7.6/lib/vendor/react-dom.min.js"></script>
<script src="https://source.zoom.us/1.7.6/lib/vendor/redux.min.js"></script>
<script src="https://source.zoom.us/1.7.6/lib/vendor/redux-thunk.min.js"></script>
<script src="https://source.zoom.us/1.7.6/lib/vendor/jquery.min.js"></script>
<script src="https://source.zoom.us/1.7.6/lib/vendor/lodash.min.js"></script>
<!-- import ZoomMtg -->
<script src="https://source.zoom.us/zoom-meeting-1.7.6.min.js"></script>

<script crossorigin="anonymous"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
<script>
    let authorized = "<%= authorized %>";
    if (authorized != 'false') {
        $('#autorizationBlock').removeClass('d-none');
        $('#authorizeBtn').addClass('d-none');
        $('#createMeeting').removeClass('d-none');
    }
    let meetingData;
    let joinURL;
    $(document).ready(function () {

        /**
         * Create meeting event
         */
        $('#createMeeting').on('click', function () {
            $.get('create_meeting', function (res) {
                if (res) {
                    $('#createdMeetingCase').removeClass('d-none');
                    let objMeetingData = JSON.parse(res.success);
                    joinURL = objMeetingData.join_url;

                    meetingData = objMeetingData;
                    $('#meetingResponse').text(JSON.stringify(objMeetingData, undefined, 4));
                }
            })
        });

        /**
         * Start meeting outside of Aww app event
         */
        $('#start_meeting_out').on('click', function () {
            window.open(joinURL, '_blank');
        });

        /**
         * Join or Start meeting event
         * based on role
         */
        $('.joinstartmeeting').on('click', function () {
            let role = $(this).data('role');

            const meetConfig = {
                meetingNumber: meetingData.id,
                leaveUrl: 'http://127.0.0.1:3000/', //TODO replace with aww app leave url
                userName: 'Aww APP HOST', //TODO replace with aww user name
                userEmail: 'info@awwapp.com', // TODO replace with aww user email
                passWord: meetingData.password,
                role: role, // 1 for host; 0 for attendee
            };

            /**
             * Getting signature from backend
             * Request POST
             * @body meetConfig
             */
            $.post('generate_signature', meetConfig).done(function (data) {
                if (data
                    && data.signature
                    && data.signature != ""
                    && data.apikey
                    && data.apikey != "") {

                    // Frontend way of generating signature (not secure)
                    // var signature = ZoomMtg.generateSignature({
                    //     meetingNumber: meetConfig.meetingNumber,
                    //     apiKey: "apikey",
                    //     apiSecret: "apisecret",
                    //     role: meetConfig.role,
                    //     success: function (res) {
                    //         console.log(res.result);
                    //     }
                    // });

                    /**
                     * Zoom meeting init function
                     * @param meetConfig
                     * @param data
                     */
                    ZoomMtg.init({
                        leaveUrl: meetConfig.leaveUrl,
                        isSupportAV: true,
                        success: function () {
                            //Joing to meeting
                            ZoomMtg.join(
                                {
                                    meetingNumber: meetConfig.meetingNumber,
                                    userName: meetConfig.userName,
                                    signature: data.signature,
                                    apiKey: data.apikey,
                                    passWord: meetConfig.passWord,
                                    success: function (res) {
                                        $('.linktoaww').removeClass('d-none');
                                        console.log('join meeting success');
                                    },
                                    error: function (res) {
                                        console.log(res);
                                    }
                                }
                            );
                        },
                        error: function (res) {
                            console.log(res);
                        }
                    });
                }
            })
        });

        console.log('checkSystemRequirements');
        console.log(JSON.stringify(ZoomMtg.checkSystemRequirements()));

        // it's option if you want to change the WebSDK dependency link resources. setZoomJSLib must be run at first
        // if (!china) ZoomMtg.setZoomJSLib('https://source.zoom.us/1.7.6/lib', '/av'); // CDN version default
        // else ZoomMtg.setZoomJSLib('https://jssdk.zoomus.cn/1.7.6/lib', '/av'); // china cdn option
        // ZoomMtg.setZoomJSLib('http://localhost:9999/node_modules/@zoomus/websdk/dist/lib', '/av'); // Local version default, Angular Project change to use cdn version
        ZoomMtg.preLoadWasm();
        ZoomMtg.prepareJssdk();

        ZoomMtg.setZoomJSLib('https://dmogdx0jrul3u.cloudfront.net/1.7.6/lib', '/av');
    })
</script>
</body>
</html>

